# Example .env file
# Make a copy of this file and rename it to .env
# Never push the .env file to Github!

# This file contains all the computer-specific environment variables to make the model run.
# Most values will not need changed (such as snowserver or PetaLibrary filepaths) unless the actual
# file structure changes. Other values such as the CU Research Computing identikey are user-specific
# and will need to be modified before running the model for the first time. Anything that must be
# changed has been marked with "CHANGE THIS".

##### Results and Report Directories #####
# Path to the results directories
WW_RESULTS_WORKSPACE=W:/Spatial_SWE/WW_regression/RT_report_data/
SNM_RESULTS_WORKSPACE=J:/Spatial_SWE/SNM_regression/RT_report_data/
# Path to the RT_Report directories
# Note the {year} placeholder that needs formatted when read
WW_REPORTS_WORKSPACE=W:/documents/{year}_RT_Reports/
SNM_REPORTS_WORKSPACE=J:/paperwork/0_UCSB_DWR_Project/{year}_RT_Reports/

##### fSCA #####
# Path to the parent directory of fSCA data on snowserver
LOCAL_FSCA_PATH=H:/WestUS_Data/Rittger_data/fsca_v2025.0.1_ops/NRT_NetCDFs/netcdf
# Path to the directory containing processed fSCA tifs
PROCESSED_FSCA_PATH=H:/WestUS_Data/Rittger_data/fsca_v2025.0.1_ops/NRT_FSCA_WW_N83/
# Path to the directory containing DMFSCA files
DMFSCA_PATH=H:/WestUS_Data/Rittger_data/fsca_v2025.0.1_ops/NRT_DMFSCA_WW_N83/
# List of tiles to download and process
FSCA_TILES=h08v04,h08v05,h09v04,h09v05,h10v04
# Sinusoidal MODIS projection for fSCA processing
SIN_MODIS_PROJ=M:/SWE/WestWide/data/basemap/CoordinateSystems/Sinusodial_MODIS_custom_ET.prj
# fSCA processing snap raster
FSCA_SNAP_RASTER=M:/SWE/WestWide/data/boundaries/SnapRaster_geon83.tif
# fSCA processing extent
FSCA_EXTENT=M:/SWE/WestWide/data/boundaries/Margulis_domain_geon83.shp
# Path to the mean layer workspace
MEAN_LAYER_WORKSPACE=H:/WestUS_Data/Regress_SWE/HistoricalDaily_mask/
# Path to the mean layer output folder
MEAN_LAYER_OUTPUT=W:/Spatial_SWE/WW_regression/mean_2000_2025_WY26_glacMask/
# Mean layer start and end years
MEAN_LAYER_START_YEAR=2000
MEAN_LAYER_END_YEAR=2025

# PetaLibrary (ssh method)
# Path the parent directory of fSCA data on PetaLibrary
CURC_FSCA_PATH=/pl/active/rittger_ops/output/mod09ga.061/spires/v2025.0.1/netcdf
# PetaLibrary FTP host address (https://curc.readthedocs.io/)
CURC_HOST=dtn.rc.colorado.edu
# The CU identikey used to create the CILogon account with your ssh key (CHANGE THIS)
CURC_IDENTIKEY=abcd1234

# Snow Today (ftp method)
# These values are from https://nsidc.org/snow-today/get-snow-data
# Path to the parent directory of fSCA data on Snow Today
SNOW_TODAY_FSCA_PATH=/shares/snow-today/gridded_data/SPIRES_NRT_V02/
# Snow Today FTP host address
SNOW_TODAY_HOST=dtn.rc.colorado.edu
# Snow Today FTP Login Information
SNOW_TODAY_USERNAME=anonymous
SNOW_TODAY_PASSWORD=pwd

##### SNODAS #####
# Path to the parent directory of SNODAS data on snowserver
SNODAS_LOCAL_PATH=W:/Spatial_SWE/NOHRSC
# Path to the parent directory of SNODAS data on NSIDC server
SNODAS_REMOTE_PATH=/DATASETS/NOAA/G02158/masked
# SNODAS FTP host address
SNODAS_HOST=sidads.colorado.edu

##### SnowTrax #####
# Path to the parent directory of the SnowTrax SWE data
SNOWTRAX_PATH=J:/Spatial_SWE/SNM_regression/RT_report_data
# Name of the SnowTrax SWE data file
SNOWTRAX_FILENAME=wsfr_snow.csv

##### MODIS #####
# Bounding Box for MODIS true color imagery in decimal degrees (min_lon, min_lat, max_lon, max_lat)
# -123.2,34,-117,42.1 covers the extent of Figure 5 in the SNM reports
MODIS_BBOX=-123.2,34,-117,42.1
# Path within the RT_Report folder where MODIS imagery will be saved
MODIS_PATH=/MODIS

##### SNOW SENSOR #####
# Path to where snow sensor data is downloaded
SENSOR_PATH=H:/WestUS_Data/Regress_SWE/snow_sensors
# File within the SENSOR_PATH folder containing a list of all sensors
SENSOR_LIST=0MasterSensors.csv
# SNM Sensors Shapefile
# Must format run date with cfg.snm_sensors_shp.format(date=YYYYMMDD)
SNM_SENSORS_SHP=M:/SWE/WestWide/Spatial_SWE/WW_regression/RT_report_data/{date}_results/{date}_sensors_SNM.shp

##### R MODEL CONFIGS #####
# This section contains all of the necessary configs previously found in the header of the main R script
# oldestDate and isCCR are not set here because they change between each run. The parameters below should stay constant
# but may need changed at some point during the season to try and manually correct error in the model

# Path to the Rscript.exe file on your device. After installing R, run the following commands in Powershell:
# Get-ChildItem "C:\Program Files\R\"      # If the name is not R-4.5.1, replace it in the command below
# Test-Path "C:\Program Files\R\R-4.5.1\bin\Rscript.exe"      # Should return true
# Note the change from backslashes to forward slashes in the config line below
RSCRIPT_EXE_PATH="C:/Program Files/R/R-4.5.1/bin/Rscript.exe"
# Path to the automated R model script
RMODEL_SCRIPT_PATH=W:/code/finalCode/LRM_model/main_sensSub_noFscaMsk_PerSens_automated.R
# For every model run, a JSON containing all of the parameters for said run is saved to following directory:
RMODEL_CONFIG_LOG_DIR=H:/WestUS_Data/Regress_SWE/config_logs
# This is the name of the user that is contained in the model directory path here:
# hydroData/WestUs_Data/Regress_SWE/{ModelDomain}/{UserName}
RMODEL_USERNAME=Olaf
# Main Regression SWE directory
REGRESS_PATH='H:/WestUS_Data/Regress_SWE/'
# Path to the simulation date file that is read by the non-automated R model. This is no longer used for automated daily
# runs, but kept for clarity in case the model needs run manually
SIMULATION_DATE_PATH=H:/WestUS_Data/Regress_SWE/simulation_date_historic_ET.txt
# MODSCAG Download Path
MODSCAG_PATH='H:/WestUS_Data/MODSCAG/modscag'
# MODSCAG type ('NRT' or 'historic')
RMODEL_MODSCAG_TYPE=NRT
# snow_fraction_canadj = snow fraction (fSCA) canadj is canopy adjusted (vegetation adj)
# snow_fraction = snow fraction w/out canopy adjustment, then use FVEG_Correction = T
RMODEL_MODSCAG_FILE=snow_fraction_canadj
# If fsca images aren't canopy adjusted set this to 'T'.
# 'F' or 'T', fveg correction is F if 'snow_fraction_canadj' is used.
RMODEL_FVEG_CORRECTION=F
# [0-1] Percent of sensors that are greater than 0, set this number to cancel model run if there aren't enough sensors.
# Total sensors for each domain are; INMT (225), NOCN (213), PNW (115), SNM (111), SOCN (333)
RMODEL_SENS_PER=0.3
# Set which fSCA to use 'MODSCAG' image or 'Rittger' gap-filled fsca.
# For Rittger, files are in directory path PROCESSED_FSCA_PATH. For MODSCAG, files are in directory path MODSCAG_PATH
# Files need to be the entire extent of the western U.S., correct cellsize, and extent, because the model just crops, it
# doesn't reproject.
RMODEL_FSCA_TYPE=Rittger
# Flag to mask the snow pillows or cocorahs with the fsca pixel value, this is done before the model is run.
# 8/20/25 - We have decided we will not mask the sensors w/fSCA for all historical model runs (set to T)
# Values are T (don't mask sensors) or F (mask sensors) for isfscaFlag
RMODEL_IS_FSCA_FLAG=T
# This flag will mask or not mask the model output with the raster fsca image.
# If the flag is set to T = mask with raster fsca, if set to F = dont mask with raster fsca. If this is set to T, two
# output geoTIFs will be produced, one from above and then above output is used to create raster fsca masked output file.
RMODEL_IS_FSCA_MASK=F
# This flag will write out the model inputs by sensor to a .gpkg database file (T) or not (F). For historic runs set to
# F, for real time runs set to T.
RMODEL_IS_GPKG=T
# Change to 'T' if you know the best historic reconstructed SWE; Not for the first run, use 'F'
RMODEL_IS_HIS_DAY=F
# If set to 'T' above, choose the date here. format of besthisdate, 'YYYY-MM-DD'
RMODEL_BEST_HIS_DATE=1989-06-12
# rcn or fsca (reconstruction or fSCA data)
RMODEL_SNOW_VAR=rcn

##### Tables and Layers Config #####
# TODO: Describe what each of these are
#
MEAN_WORKSPACE=M:/SWE/WestWide/Spatial_SWE/WW_regression/mean_2000_2025_WY26_glacMask/
#
WW_WATERSHED_ZONES=W:/data/hydro/20260113_BasinUpdatesNoSNM/WW_BasinBanded_noSNM_notahoe_albn83_sel_v2_updated.tif
SNM_WATERSHED_ZONES=M:/SWE/WestWide/data/hydro/SNM/dwr_basins_geoSort_albn83.tif
#
HUC6_ZONES=M:/SWE/WestWide/data/hydro/WW_HUC6_albn83_ras_msked.tif
#
WW_REGION_ZONES=M:/SWE/WestWide/data/hydro/WW_Regions_albn83_v2.tif
SNM_REGION_ZONES=M:/SWE/WestWide/data/hydro/SNM/dwr_regions_albn83.tif
#
SNM_BAND_ZONES=M:/SWE/WestWide/data/hydro/SNM/dwr_band_basins_geoSort_albn83_delin.tif
#
CASE_FIELD_WATERSHED=SrtName
CASE_FIELD_BAND=SrtNmeBand
# Masks
WATER_MASK=M:/SWE/WestWide/data/mask/watermask_outdated/outdated/WW/Albers/WW_watermaks_10_albn83_clp_final.tif
GLACIER_MASK=M:/SWE/WestWide/data/mask/glacierMask/glims_glacierMask_null_GT10_final.tif
SNM_DOMAIN_MASK=M:/SWE/WestWide/data/hydro/SNM/dwr_mask_null_albn83.tif
#
WW_SNAP_RASTER_GEON83=M:/SWE/WestWide/data/boundaries/SnapRaster_geon83.tif
WW_SNAP_RASTER_ALBN83=M:/SWE/WestWide/data/boundaries/SnapRaster_albn83.tif
SNM_SNAP_RASTER_ALBN83=M:/SWE/WestWide/data/boundaries/SNM_SnapRaster_albn83.tif
#
WW_WATERSHED_SHAPEFILE=W:/data/hydro/20260113_BasinUpdatesNoSNM/WW_Basins_noSNM_notahoe_albn83_sel_v2_dis.shp
SNM_WATERSHED_SHAPEFILE=M:/SWE/WestWide/data/hydro/SNM/dwr_basins_albn83_GT5000.shp
WW_BAND_SHAPEFILE=W:/data/hydro/20260113_BasinUpdatesNoSNM/WW_BasinsBanded_noSNM_notahoe_albn83_sel_v2_updated_20260208.shp
SNM_BAND_SHAPEFILE=M:/SWE/WestWide/data/hydro/SNM/dwr_band_basins_albn83_delin.shp

##### ArcGIS Projection Spatial References #####
# Use with arcpy.SpatialReference(cfg.proj_xxx)
# NAD 1983
PROJ_GEO=4269
# USA Contiguous Albers Equal Area Conic (USGS version)
PROJ_ALB=102039
# NAD 1983 / UTM Zone 11N (Nevada)
PROJ_UTM=26911