# Example .env file
# Make a copy of this file and rename it to .env
# Never push the .env file to Github!

# This file contains all the computer-specific environment variables to make the model run.
# Most values will not need changed (such as snowserver or PetaLibrary filepaths) unless the actual
# file structure changes. Other values such as the CU Research Computing identikey are user-specific
# and will need modified before running the model for the first time. Anything that must be changed
# has been marked with "CHANGE THIS"

##### fSCA #####
# Path to the parent directory of fSCA data on snowserver
LOCAL_FSCA_PATH=H:/WestUS_Data/Rittger_data/fsca_v2025.0.1_ops/NRT_NetCDFs/netcdf

# PetaLibrary (ssh method)
# Path the parent directory of fSCA data on PetaLibrary
CURC_FSCA_PATH=/pl/active/rittger_ops/output/mod09ga.061/spires/v2025.0.1/netcdf
# PetaLibrary FTP host address (https://curc.readthedocs.io/)
CURC_HOST=dtn.rc.colorado.edu
# The CU identikey used to create the CILogon account with your ssh key (CHANGE THIS)
CURC_IDENTIKEY=abcd1234

# Snow Today (ftp method)
# These values are from https://nsidc.org/snow-today/get-snow-data
# Path to the parent directory of fSCA data on Snow Today
SNOW_TODAY_FSCA_PATH=/shares/snow-today/gridded_data/SPIRES_NRT_V02/
# Snow Today FTP host address
SNOW_TODAY_HOST=dtn.rc.colorado.edu
# Snow Today FTP Login Information
SNOW_TODAY_USERNAME=anonymous
SNOW_TODAY_PASSWORD=pwd

##### SNODAS #####
# Path to the parent directory of SNODAS data on snowserver
SNODAS_LOCAL_PATH=W:/Spatial_SWE/NOHRSC
# Path to the parent directory of SNODAS data on NSIDC server
SNODAS_REMOTE_PATH=/DATASETS/NOAA/G02158/masked
# SNODAS FTP host address
SNODAS_HOST=sidads.colorado.edu
